doctype html
html
head
  title #{action} - Admin Backend

  block css
    link(rel="stylesheet", href="/web/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/web/lib/bootstrap/dist/css/bootstrap-theme.min.css")

  block js
    script(type="text/javascript", src="/web/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/web/lib/bootstrap/dist/js/bootstrap.min.js")

body
  include ./partials/navbar

  block content
