
.navbar.navbar-inverse(role='navigation')
  .container

    .navbar-header.navbar-right
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Front End

    .navbar-collapse.collapse
      ul.nav.navbar-nav

        li(class= action==='index'?'active':'')
          a(href='/#{app}') Home

        li(class= action==='warung'?'active':'')
          a(href='/#{app}/datatable/warung') Warung

        li
          a(href='/static/page/about') About
