
extends ./layout

mixin donec()
  p
    | Donec id elit non mi porta gravida at eget metus.
    | Fusce dapibus, tellus ac cursus commodo, tortor
    | mauris condimentum nibh, ut fermentum massa justo
    | sit amet risus. Etiam porta sem malesuada magna
    | mollis euismod. Donec sed odio dui.

// can append or prepend or replace block ( jade ftw.. )
block append js

  // app name variable is injected too
  script(type="text/javascript", src="/#{app}/web/js/index.js")
  // or without app variable..
  script(type="text/javascript", src="/frontend/web/js/other.js")

block content

  .jumbotron
    .container
      h1 Welcome
      p App Name = #{app}

      #append-this-one

  .container
    .row
      .col-md-4
        h2 Warung
        +donec()

      .col-md-4
        h2 Camera
        +donec()

      .col-md-4
        h2 Report
        +donec()
